# Node modules
Client/node_modules/
Server/node_modules/

# Environment variables
Client/.env
Server/.env

# Build outputs
Client/build/
Server/build/
Server/dist/

# Logs
logs/
*.log
logs/*
pids/
*.pid
*.seed
*.pid.lock

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Cache
.cache/
.eslintcache/
